.header {
  background: black;
  color: white;
}

.header a {
  text-decoration: underline;
}

.topRow div {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 1em 0;
}

.topRow span {
  flex: 1 1 0;
}

.topRow h1 {
  font-weight: bold;
}

.topRow p {
  font-style: italic;
  color: #bbb;
}

.middleRow > div {
  display: flex;
  align-items: stretch;
  text-align: center;
}

.middleRow > div > a {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
  text-decoration: underline;
  padding: 0.75em 0;
}

.active {
  background: #fafafa;
  color: black;
}
